

.bgimage{
background-image:url('https://bit.ly/2QOpC4L');
background-size:cover;
background-position:center;
background-repeat:no-repeat;
z-index:1;
padding-top:70px;
padding-bottom:130px;
}

#buttons{
display:flex;
}
.flex-stuff{
display:flex;
}

